body{
   /*  background: lightskyblue; */
    background: black;
}
.title{
    color: red;
    background: black;
    text-align: center;
    border: 5px white solid;
    margin: 50px auto 0 auto;
    padding: 15px;
    width: 500px;
}
.title>span{
    color: white
}

.container{
    box-sizing:border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: orange;
    width: 700px;
    height: 300px;
    margin: 50px auto;
    border: 5px white solid;
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titleH{
    display:block;
    float:left;
    border-bottom: 5px solid white;
}


#canvas{
    box-sizing:border-box;
    display: flex;
    align-items: center;
    justify-content: center; 
    background: orange;
    width: 700px;
    height: 250px;
    margin: 50px auto;
    border: 5px white solid;
}

#primary-number, #secondary-number{
    display:flex;
    align-items:center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    width: 125px;
    height: 125px;
    box-sizing: border-box;
}

#primary-number{
    border: solid 4px red;
}

#secondary-number{
    border: solid 4px green;
}

#add, #equal{
    font-weight: bold;
    font-size: 40px;
    padding: 5px;
}
input{
    border: solid 5px black;
    width: 150px;
    height: 30px;
    padding-left: 25px;
}

button{
    font-size: 20px;
    width: 100px;
    height: 35px;
    margin: 5px;
    background: red;
    color: white;
    border: 5px solid lightgrey;
   
}

button:hover { 
    background-color: blue;
  }


#buttonColor{
    text-align: center;
    width: 300px;
    height: 50px;
    margin: 50px auto 50px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: red;
    border-radius: 5px;
    border-style: none;
    display: block;
    border: 5px solid lightgrey;
}

#buttonColor:hover { 
    background-color: blue;
  }


.t1{
      color: red;
      font-size: 20px;
    font-weight: bold;
  }

.t2{
    color: blue;
    font-size: 20px;
    font-weight: bold;
}

.t3{
    color: green;
    font-size: 20px;
    font-weight: bold;
}

.box{
    width: 150px;
    height: 35px;
    margin: 5px;
    background: white;
    border: 5px solid white;
}

.timer{
        background-color:white;
        color: black;
        font-size:20px;
        font-weight:bold;

        width: 150px;
        height: 50px;
        margin: 25px auto 15px auto;
        border-radius: 5px;
        border-style: none;
        border: 5px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
}

